<section class="section-side-nav">
  <a>
    <span class="size-main-icon-nav-bar icon-logo text-xl"></span>
  </a>

  <div class="container-links-page">
    <a [routerLink]="['./home']" >
      <span class="size-icon-nav-bar icon-nav-home text-xl" routerLinkActive="active-route"></span>
    </a>

    <a [routerLink]="['./movie']">
      <span class="size-icon-nav-bar icon-category-movie text-xl" routerLinkActive="active-route"></span>
    </a>

    <a>
      <span class="size-icon-nav-bar icon-category-tv text-xl" routerLinkActive="active-route"></span>
    </a>

    <a>
      <span class="size-icon-nav-bar icon-bookmark-full text-xl" routerLinkActive="active-route"></span>
    </a>

  </div>
</section>
