<section class="sign-up-section">
  <div class="sign-up-icon-logo-container">
    <span class="icon-logo text-xl"></span>
  </div>

  <form class="sign-up-container" [formGroup]="signUpForm" (ngSubmit)="onSignIn()">
    <h2 class="text-xl fs-5">Sign Up</h2>

    <div class="position-relative">
      <input type="text" formControlName="email" eInputText placeholder="Email address" autocomplete="off">
      <small class="message-invalid text-sm"
             *ngIf="((this.signUpForm.get('email')?.touched! || isSubmitted)  && this.signUpForm.get('email')?.errors?.['email'])">
        Not a valid Email Address
      </small>
      <small class="message-invalid text-sm"
             *ngIf="((this.signUpForm.get('email')?.touched! || isSubmitted) && this.signUpForm.get('email')?.errors?.['required'])">
        Can't be empty
      </small>
    </div>

    <div class="position-relative">
      <input type="text" formControlName="password" eInputText placeholder="Password">
      <small class="message-invalid text-sm"
             *ngIf="((this.signUpForm.get('password')?.touched! || isSubmitted) && this.signUpForm.get('password')?.errors?.['required'])">
        Can't be empty
      </small>
    </div>

    <div class="position-relative">
      <input type="text" formControlName="rpassword" eInputText placeholder="Repeat password">

      <small class="message-invalid text-sm"
             *ngIf="((this.signUpForm.get('rpassword')?.touched! || isSubmitted)
             && this.signUpForm.get('rpassword')?.errors?.['required'])
             && !this.signUpForm.get('rpassword')?.errors?.['notEquivalent']">
        Can't be empty
      </small>

      <small class="message-invalid text-sm"
             *ngIf="((this.signUpForm.get('rpassword')?.touched! || isSubmitted)
             && this.signUpForm.get('rpassword')?.errors?.['notEquivalent'])">
        Password do not match
      </small>
    </div>

    <button class="btn cursor-pointer text-sm" type="submit">Create an account</button>

    <p class="text-sm fs-5 text-center"> Already have an account?
      <a class="sign-up-login cursor-pointer" [routerLink]="['../login']">
        Login
      </a>
    </p>
  </form>
</section>
