.sign-up-section {
  height: 100vh;
  border: 1px solid #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.sign-up-icon-logo-container {
  padding-bottom: 8rem;
}

.sign-up-container {
  background-color: var(--ca-secondary-background);
  display: flex;
  max-width: 40rem;
  width: 100%;
  flex-direction: column;
  padding: 3.3rem;
  max-height: 50rem;
  gap: 2.5rem;
  border-radius: 5%;
}

.sign-up-login {
  text-decoration: none;
  color: var(--ca-red);
}

