<section class="login-section">
  <div class="login-icon-logo-container">
    <span class="icon-logo text-xl"></span>
  </div>

  <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="text-xl fs-5">Login</h2>

    <div class="position-relative">
      <input type="text" formControlName="email" eInputText placeholder="Email address">
      <small class="message-invalid text-sm"
             *ngIf="((this.loginForm.get('email')?.touched! || isSubmitted)  && this.loginForm.get('email')?.errors?.['email'])">
        Not a valid Email Address
      </small>
      <small class="message-invalid text-sm"
             *ngIf="((this.loginForm.get('email')?.touched! || isSubmitted) && this.loginForm.get('email')?.errors?.['required'])">
        Can't be empty
      </small>
    </div>

    <div class="position-relative">
      <input type="text" formControlName="password" eInputText placeholder="Password">
      <!--TODO: When finish the implementation of backend we are going to use this message-->
      <!--      <small class="message-invalid text-sm">Not a valid password</small>-->
      <small class="message-invalid text-sm"
             *ngIf="((this.loginForm.get('password')?.touched! || isSubmitted) && this.loginForm.get('password')?.errors?.['required'])">
        Can't be empty
      </small>
    </div>

    <button class="btn cursor-pointer" type="submit">Login to your account</button>

    <p class="text-sm fs-5 text-center">Don't have an account?
      <a class="login-sign-up cursor-pointer" [routerLink]="['../signin']">
        Sign Up
      </a>
    </p>
  </form>
</section>
