.login-section {
  height: 100vh;
  border: 1px solid #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--ca-secondary-background);
  display: flex;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  padding: 3rem;
  max-height: 37.3rem;
  gap: 1.2rem;
}

