<section class="login-section">
  <div class="login-icon-logo-container">
    <span class="icon-logo text-xl"></span>
  </div>

  <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="text-xl fs-5">Login</h2>

    <input type="text" formControlName="email" eInput placeholder="Email address">

    <input type="text" formControlName="password" eInput placeholder="Password">

    <button class="btn" type="submit">Login to your account</button>

    <p class="text-sm fs-5 text-center">Don't have a account? <span class="login-sign-up">Sign Up</span></p>
  </form>
</section>
