<section class="section-carousel">
  <div class="swiper mySwiper" #carousel>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <app-card></app-card>
      </div>

      <div class="swiper-slide">
        <app-card></app-card>
      </div>

      <div class="swiper-slide">
        <app-card></app-card>
      </div>

      <div class="swiper-slide">
        <app-card></app-card>
      </div>

      <div class="swiper-slide">
        <app-card></app-card>
      </div>

      <div class="swiper-slide">
        <app-card></app-card>
      </div>
    </div>
  </div>
</section>
