<div class="container-card">
  <img src="/assets/thumbnails/beyond-earth/regular/large.jpg" alt="" class="container-img">

  <button class="button-icon-bookmark">
    <img ngSrc="/assets/icons/icon-bookmark-empty.svg" alt="" height="14" width="12">
  </button>

  <div class="container-all-details">
    <p class="container-dates text-sm fs-5">
      <span>2023</span>
      &bullet;
      <span>Movie</span>
      &bullet;
      <span>PG</span></p>
    <p class="text-lg">Beyond Earth</p>
  </div>
</div>
