<div class="container-card">
  <img [src]="movieDetails.thumbnail.trending?.large"
       alt="thumbnail of {{movieDetails.title}}"
       class="container-img">

  <button class="button-icon-bookmark">
    <span class="icon-bookmark-full"></span>
<!--    <img ngSrc="/assets/icons/icon-bookmark-empty.svg" alt="" height="14" width="12">-->
  </button>

  <div class="container-all-details">
    <p class="container-dates text-sm fs-5">
      <span>{{movieDetails.year}}</span>
      &bullet;
      <span>{{movieDetails.category}}</span>
      &bullet;
      <span>{{movieDetails.rating}}</span></p>
    <p class="text-lg">{{movieDetails.title}}</p>
  </div>
</div>
