.input-container {
  position: relative;
}

.form_input {
  width: 100%;
  font-family: inherit;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  color: var(--ca-text-color);
  background: transparent;
  transition: border-color 0.2s;
  caret-color: var(--ca-red);
  letter-spacing: 1px;

  &.input-border-bottom {
    border-bottom: 2px solid var(--ca-greyish_blue_tlight);
  }

  &:placeholder-shown ~ .form_label {
    font-size: 1.5rem;
    cursor: text;
    padding: 2rem 2rem;
  }

  &.input-filled {
    color: var(--ca-pure-white);
    padding-bottom: 2rem;
    font-weight: 300;
    border-width: 3px;
    border-color: var(--ca-pure-white);
    border-image-slice: 1;
  }

  &:required, &:invalid {
    box-shadow: none;
  }
}

.form_label {
  display: block;
  transition: 0.2s;
  padding: 2rem 2rem;
  color: var(--ca-greyish_blue_tlight);
}

