$red_tlight: #FC4747;
$dark_blue_tlight: #10141E;
$greyish_blue_tlight: #5A698F;
$semi_dark_blue_tlight: #161D2F;
$pure_white_tligth: #FFFFFFFF;


body.light {
  --ca-text-color: #{$pure_white_tligth};
}
